[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
tconnectsync = ">=2.3.1"
flask-apscheduler = {git = "https://github.com/viniciuschiele/flask-apscheduler"}
gunicorn = "*"
setuptools = "*"

[requires]
python_version = "3.13"

[scripts]
web = "gunicorn app:app"
