<!doctype html>
<html>
<head>
    <title>tconnectsync-heroku</title>
</head>
<body>
    <h1>tconnectsync-heroku</h1>
    <p>The tconnectsync-heroku server is running</p>
    <ul>
        <li>tconnectsync version: {{ tconnectsync_version }}</li>
        <li>tconnectsync-heroku version: {{ tconnectsyncheroku_version }}</li>
    </ul>

    {% if interval_mins %}
        <p>Tconnectsync will automatically run approximately every {{ interval_mins }} min so long as the Flask application is running.</p>
        <p>It will run next at {{ job.next_run_time }}.</p>
    {% else %}
        <p>Tconnectsync must be triggered manually by an external service (e.g. UptimeRobot).</p>
    {% endif %}

    <p>&nbsp;</p>
    <p><i>Need help?</i> Open a new issue <a href="https://github.com/jwoglom/tconnectsync">on GitHub</a> and add the "setup help" tag.</p>
</body>
</html>
